<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      div#app {
        padding: 30px;
        margin: 30px auto;
        width: 400px;
        border: 1px solid #ccc;
        box-shadow: 3px 3px 3px #aaa;
      }
      div#app div {
        margin-bottom: 20px;
      }
      label {
        display: block;
      }
      input[type="text"] {
        padding: 4px;
      }
      div.total {
        font-size: 16pt;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>주문</h1>
      <div><label>수량</label> <input type="text" v-model="quantity" /></div>
      <div><label>가격</label> <input type="text" v-model="price" /></div>
      <hr />
      <div class="total">{{ total }}</div>
    </div>
    <script type="text/javascript">
      let app = {
        data() {
          return { quantity: 1, price: 0 };
        },
        computed: {
          total() {
            return this.quantity * this.price;
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
