<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" type="text/css" href="todo1.css" />
  </head>
  <body>
    <div id="app">
      <h1>할 일</h1>
      <ul>
        <li v-for="todo in todoList">{{ todo }}</li>
      </ul>
      <input type="text" v-model="todo" />
      <button type="button" v-on:click="addTodo">할일 추가</button>
    </div>
    <script type="text/javascript">
      let app = {
        data() {
          return { todoList: ["과제", "시험공부", "코딩훈련"], todo: "" };
        },
        methods: {
          addTodo: function () {
            this.todoList.push(this.todo);
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>